.container {
  padding-top: 60px;
  padding-left: 200px;
  text-align: center;
  /* Removed absolute positioning and centering for container flexibility */
}

.membership-plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; /* Adjust as needed for spacing between cards */
  justify-content: center; /* Centrar las tarjetas horizontalmente */
}

.plan-card {
  width: 30%;
  min-width: 250px;
  margin: 60px; /* Adjust as needed for spacing between cards */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #f9f9f9;
}

.plan-card:hover {
  transform: translateY(-5px);
}

.plan-card h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-card ul li {
  margin-bottom: 10px;
  color: #666;
}

.price {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #007bff;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.slogan {
  font-family: 'Dancing Script', cursive; 
  font-size: 1.2rem; 
  font-weight: bold; 
  color: #fff;
  position: relative; 
  margin-top: 20px; 
  width: fit-content;
  margin-left: auto; 
  text-align: center; 
  left: 250px;
  margin: 20px;
}
